<table class="table" *ngIf="projects && projects != 0">
  <thead class="thead-inverse">
    <tr>     
      <th>Name</th>
      <th>Client Name</th>
      <th>Users</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
     <td>{{project.name}}</td>
      <td>{{project.clientname}}</td>
      <td><div *ngFor="let user of project.users; let isLast=last">{{user.name}}{{isLast ? '':','}}</div></td>      
      <td>
        <a [routerLink]="['./project-detail',project._id]">Detail</a>
        <a [routerLink]="['./project-detail',project._id]">Edit</a>
        <a [routerLink]="['./project-detail',project._id]">Delete</a>
      </td>
    </tr>
   
  </tbody>
</table>


