@import url("../../assets/global/plugins/bootstrap/css/bootstrap.min.css");
@import url("../../assets/global/css/components.min.css");
@import url("../../assets/layouts/layout/css/layout.min.css");
@import url("../../assets/layouts/layout/css/themes/darkblue.min.css");
@import url("../../assets/layouts/layout/css/custom.min.css");


.noteUl .noteli{
  list-style:none;
}
noteul{
  overflow:hidden;
  padding:3em;
}
.noteul .noteli a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.noteul .noteli{
  margin:1em;
  float:left;
}