<div *ngIf="project">
  <h2 class="page-header">{{project.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Projectname: {{project.name}}</li>
    <li class="list-group-item">Clientname: {{project.clientname}}</li>
    <li class="list-group-item">Clientcountry: {{project.clientcountry}}</li>
    <li class="list-group-item">Description: {{project.description}}</li>
    <li class="list-group-item">Users: <div *ngFor="let user of project.users let isLast=last"> {{user.name}}{{isLast?'':','}} </div></li>
   <li class="list-group-item" *ngIf="project.notes && project.notes != 0">Notes: 
     <div *ngFor="let note of project.notes"><div *ngIf="!note.editMode"> <b>{{note.name}}</b>: {{note.note}}  </div>      
      <textarea *ngIf="note.editMode" name="note" [(ngModel)]="note.editNote" type="text" rows="5" class="form-control"></textarea>
     <a href="#" *ngIf="!note.editMode && note.showEditUpdateButton" (click)="onNoteEditClick(note._id)">Edit</a>
     <a href="#" *ngIf="note.editMode && note.showEditUpdateButton" (click)="onNoteEditUpdateClick(note._id)">Update</a>
     <a href="#" *ngIf="note.editMode && note.showEditUpdateButton" (click)="onNoteEditCancelClick(note._id)">Cancel</a>
     <a href="#" *ngIf="!note.editMode && note.showEditUpdateButton" (click)="onNoteDeleteClick(note._id)">Delete</a></div>  
   </li>
  </ul>
  <!--<ul class="noteul" *ngIf="project.notes && project.notes != 0">
  <li class="noteli" *ngFor="let note of project.notes">
    <a href="#">
      <h2>{{note.name}}</h2>
      <p>{{note.note}}</p>
    </a>
  </li> 
  </ul>-->
</div>
<div *ngIf="!project">
  No Project found
</div>
<div *ngIf="project">
  <div class="form-group">
      <label>Write a Note:</label>
  <textarea name="note" [(ngModel)]="note" type="text" rows="5" class="form-control"></textarea>
  </div>
  <input type="button" (click)="onAddingNote()" class="btn btn-primary" value="+ Note" />
</div>